<html>
  <head>
    <title>Asante AI - About</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="icon" type="image/png" href="/public/icon.png" sizes="32x32">
  </head>
  <body>
    <table width='100%' border='0' cellpadding="5px">
      <tr> 
      <td align='left' valign="top" width='20%'> &nbsp;&nbsp; <a style="text-decoration: none;" href="/"><img width="160px" height="55px" src="/public/brand.png" alt="Brand"> </a></td>    
      <td border="1px" bordercolor="#bcbcbc" align='center' width='60%'> <a style="text-decoration: none;" href="/"><font size="3" color='#0000'><strong> < &nbsp; Back Home </strong></font></a> </td>
      <td align='right' width='20%'> </td>
      </tr>
      </table>
      <strong><hr style="background-color: rgb(213, 210, 210);"></strong>
    </br>
    
    <table width='100%' border='0' cellpadding="5px">
    <tr> 
    <td width='20%'> </td>    
    <td>


    <h2><font size="5" color='#a24028'><strong> ABOUT </strong></font></h2>

    </br><font size="4" color='#0000'>

      Asante AI is an AI powered safari recommendation engine for African travel destinations.

      <br><br>

      The aim is to promote African wildlife conservation by encouraging wildlife tourism.
      
      <br><br>

      Users search through our catalogue of AI recommended wildlife travel destinations, find their perfect holiday destination, and place a booking.

      <br><br>

      It's hoped that the more tourists visit these African wildlife national parks, the greater the endeavour to protect them. 

      <br><br>

      The web app uses Square's Web Payments SDK to process booking payments (<a style="text-decoration: none;" href="https://developer.squareup.com/reference/sdks/web/payments"><font size="4" color='#a24028'><strong>https://developer.squareup.com/reference/sdks/web/payments</strong></font></a>).

      <br><br>

      And Appwrite Cloud is used as the Backend Database to save the payments processed (<a style="text-decoration: none;" href="https://cloud.appwrite.io"><font size="4" color='#a24028'><strong>https://cloud.appwrite.io</strong></font></a>), and manage user accounts.

    </br></br>

    Code Repository: <a style="text-decoration: none;" href="https://github.com/VakinduPhilliam/AsanteAI"><font size="4" color='#a24028'><strong> https://github.com/VakinduPhilliam/AsanteAI </strong></font></a>

    </br></br>

    <strong><hr style="background-color: rgb(213, 210, 210);"></strong>

    <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script>, Asante AI

    </font>
    </td>
    <td width='20%'> </td>
  </tr>
  </table>

  </br>

  </body>
</html>

