<html>
  <head>
    <title>Asante AI - Home</title>
    <link href="/public/carousel-caption.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/button.css" />
    <link href="/public/bootstrap.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/public/icon.png" sizes="32x32">
    <style>
      .carousel-control-prev-icon {
        height: 50px;
        width: 50px;
        outline: black;
        border: 0px solid black;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
      }

      .carousel-control-next-icon {
        height: 50px;
        width: 50px;
        outline: black;
        border: 0px solid black;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;

      }

      .carousel-caption {
        text-align: center;
      }
    </style>
  </head>
  <body>
      <table width='100%' border='0' cellpadding="5px">
      <tr> 
      <td align='left' valign="top" width='30%'> &nbsp;&nbsp; <a style="text-decoration: none;" href="/"><img width="160px" height="55px" src="/public/brand.png" alt="Brand"> </a></td>    
      <td border="1px" bordercolor="#bcbcbc" align='center' valign="center" width='40%'> 
        <form action="/search" method="GET">
          <table width="100%" border="0"><tr><td align='center'><input type="text" style="height: 40px; width:100%; background-color:rgb(237, 233, 233);" name="search" id="search" placeholder="Search & Find Holiday Destinations in Africa ......" class="form-control input-m" /> </td><td> &nbsp;&nbsp; <button type="submit" style="height: 35px; width: 45px; border-radius: 4px;"> 🔎 </button> </td></tr></table>
        </form>
      </td>
      <td align='right' valign="center" width='30%'> <a href="/login" id="about" style="text-decoration: none;"><font size="3" color="#a24028"><strong> LOGIN </strong></font></a> &nbsp; | &nbsp; <a href="/signup" id="about" style="text-decoration: none;"><font size="3" color="#a24028"><strong> SIGN UP </strong></font></a> &nbsp; <a href="/about" id="about" style="text-decoration: none;"> <img width="24px" height="23px" src="/public/about.png" alt="Logo"> </a> &nbsp;&nbsp;&nbsp;</td>
      </tr>
      </table>
      <strong><hr style="background-color: rgb(213, 210, 210);"></strong>
      <table width='100%' height='100%' border='0' cellpadding="5px">
      <tr> 
      <td width='10%'> </td>    
      <td border="1px" bordercolor="#bcbcbc" align='center' valign="top" width='80%' height='100%'>

        <font size="4" color="#817e7e"><strong>Popular Wildlife Destinations </strong></font></br>

        <div id="mySlideshow" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#mySlideshow" data-slide-to="0" class="active"></li>
              <li data-target="#mySlideshow" data-slide-to="1"></li>
              <li data-target="#mySlideshow" data-slide-to="2"></li>
              <li data-target="#mySlideshow" data-slide-to="3"></li>
              <li data-target="#mySlideshow" data-slide-to="4"></li>
              <li data-target="#mySlideshow" data-slide-to="5"></li>
              <li data-target="#mySlideshow" data-slide-to="6"></li>
              <li data-target="#mySlideshow" data-slide-to="7"></li>
              <li data-target="#mySlideshow" data-slide-to="8"></li>
              <li data-target="#mySlideshow" data-slide-to="9"></li>
            </ul>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              <div class="carousel-item active">
                <a style="text-decoration: none;" href="/place?id=place_sikxqf72jnq0jeny2i0u8bxkm9">
                <img src="/public/images/screenshot-1.png" alt="The Maker" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Kruger National Park, South Africa</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_sikxqf72jnq0jeny2i0u8bxkm9">BOOK NOW</a>
                </div>
              </div>
          
              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_mhgewn3qxqp5m3nn096bn3rppg">
                <img src="/public/images/screenshot-3.png" alt="Slug Invasion" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Maasai Mara National Park, Kenya</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_mhgewn3qxqp5m3nn096bn3rppg">BOOK NOW</a>
                </div>
              </div>

              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_jptmvbs2yizhbim9m67ruz78fh">
                <img src="/public/images/screenshot-2.png" alt="The Mega Plush" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Kidepo Valley National Park, Uganda</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_jptmvbs2yizhbim9m67ruz78fh">BOOK NOW</a>
                </div>
              </div>

              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_xjtfzzaznqqi81s38iqi1e218e">
                <img src="/public/images/screenshot-4.png" alt="Fallen Art" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Pemba, Indian Ocean Coast</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_xjtfzzaznqqi81s38iqi1e218e">BOOK NOW</a>
                </div>
              </div>

              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_e50fwnyx3qwdce26tw5g4x03kj">
                <img src="/public/images/screenshot-5.png" alt="Slug Invasion" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Mombasa, Indian Ocean Coast</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_e50fwnyx3qwdce26tw5g4x03kj">BOOK NOW</a>
                </div>
              </div>

              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_e2p6ch6xvi98yvcukk2hh1asns">
                <img src="/public/images/screenshot-6.png" alt="Platige Image - The Kinematograph" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Zanzibar, Indian Ocean</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_e2p6ch6xvi98yvcukk2hh1asns">BOOK NOW</a>
                </div>
              </div>

              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_wmkrr9c88v8173nyjqnq231ggc">
                <img src="/public/images/screenshot-7.png" alt="The Cathedral" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Mokala National Park, South Africa</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_wmkrr9c88v8173nyjqnq231ggc">BOOK NOW</a>
                </div>
              </div>

              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_xb4mnv7k85eb6ggvfk8dd07eea">
                <img src="/public/images/screenshot-8.png" alt="The Cathedral" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Tsavo East National Park, Kenya</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_xb4mnv7k85eb6ggvfk8dd07eea">BOOK NOW</a>
                </div>
              </div>

              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_qnbzwgpj0dz7paa89gwdp926gm">
                <img src="/public/images/screenshot-9.png" alt="The Cathedral" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Murchison Falls National Park, Uganda</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_qnbzwgpj0dz7paa89gwdp926gm">BOOK NOW</a>
                </div>
              </div>

              <div class="carousel-item">
                <a style="text-decoration: none;" href="/place?id=place_qnbzwgpj0dz7paa89gwdp926vp">
                <img src="/public/images/screenshot-10.png" alt="The Cathedral" style="width:648px;height:451px;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <font size="3" color="white"><strong>Mapungubwe National Park, South Africa</strong></font></br>
                    <a class="btn-solid-reg" href="/place?id=place_qnbzwgpj0dz7paa89gwdp926vp">BOOK NOW</a>
                </div>
              </div>
  
            </div>
          
            <!-- Left and right controls -->
            <a style="text-decoration: none;" class="carousel-control-prev" href="#mySlideshow" data-slide="prev">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#mySlideshow" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
          </div>

        </br></br>

        <strong><hr style="background-color: rgb(213, 210, 210);"></strong>

        </br></br>

        <table border="0" width="100%" height="100%" style="min-height: 530px;">
          <tr>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_xb4mnv7k85eb6ggvfk8dd07eea"><img width="80%" height="auto" src="/public/images/screenshot-8.png" alt="Tsavo East National Park, Kenya"><br><font size="2" color="#616161"><strong> Tsavo East National Park, Kenya </strong></font></a></td>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_qnbzwgpj0dz7paa89gwdp926gm"><img width="80%" height="auto" src="/public/images/screenshot-9.png" alt="Murchison Falls National Park, Uganda"><br><font size="2" color="#616161"><strong> Murchison Falls National Park, Uganda </strong></font></a></td>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_e2p6ch6xvi98yvcukk2hh1asns"><img width="80%" height="auto" src="/public/images/screenshot-6.png" alt="Zanzibar, Indian Ocean"><br><font size="2" color="#616161"><strong> Zanzibar, Indian Ocean </strong></font></a></td>
          </tr>
          <tr>
            <td colspan="3"><br><br></td>
          </tr>
          <tr>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_jptmvbs2yizhbim9m67ruz78fh"><img width="80%" height="auto" src="/public/images/screenshot-2.png" alt="Kidepo Valley National Park, Uganda"><br><font size="2" color="#616161"><strong> Kidepo Valley National Park, Uganda </strong></font></a></td>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_mhgewn3qxqp5m3nn096bn3rppg"><img width="80%" height="auto" src="/public/images/screenshot-3.png" alt="Maasai Mara National Park, Kenya"><br><font size="2" color="#616161"><strong> Maasai Mara National Park, Kenya </strong></font></a></td>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_xjtfzzaznqqi81s38iqi1e218e"><img width="80%" height="auto" src="/public/images/screenshot-4.png" alt="Pemba, Indian Ocean Coast"><br><font size="2" color="#616161"><strong> Pemba, Indian Ocean Coast </strong></font></a></td>
          </tr>
          <tr>
            <td colspan="3"><br><br></td>
          </tr>
          <tr>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_sikxqf72jnq0jeny2i0u8bxkm9"><img width="80%" height="auto" src="/public/images/screenshot-1.png" alt="Kruger National Park, South Africa"><br><font size="2" color="#616161"><strong> Kruger National Park, South Africa </strong></font></a></td>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_e50fwnyx3qwdce26tw5g4x03kj"><img width="80%" height="auto" src="/public/images/screenshot-5.png" alt="Mombasa, Indian Ocean Coast"><br><font size="2" color="#616161"><strong> Mombasa, Indian Ocean Coast </strong></font></a></td>
              <td valign="top" align="center" width="33%"><a style="text-decoration: none;" href="/place?id=place_wmkrr9c88v8173nyjqnq231ggc"><img width="80%" height="auto" src="/public/images/screenshot-7.png" alt="Mokala National Park, South Africa"><br><font size="2" color="#616161"><strong> Mokala National Park, South Africa </strong></font></a></td>
          </tr>
      </table>
      
      </br></br><br>

      <strong><hr style="background-color: rgb(213, 210, 210);"></strong>

      <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script>, Asante AI

      </td>
      <td width='10%'> </td>
      </tr>
      </table>
    </br>
    <script src="/public/jquery.js"></script>
    <script src="/public/bootstrap.min.js"></script> <!-- Bootstrap framework -->
  </body>
</html>

