.carousel-caption {
    opacity: 0;
    max-width: 75%;
    width: 75%;
    right: 0;
    transition: 500ms ease-in-out;
   }
.carousel-item:hover .carousel-caption{
    opacity: 1;
    background: rgba(207, 215, 222, 0.028);
}
  